.m {
    height: 85vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.m-item {
    font-weight: 600;
}

.m-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

@media screen AND (max-width: 480px){
    .m {
        height: 100vh;
        padding: 20px;
    }

    .m-item {
        font-weight: 400;
    }

    .m-img {
        width: 60%;
        height: 60%;
        object-fit: scale-down;
    }
}