@use '../1-base/base-mixins'
@use '../1-base/variables'
@use '../2-layouts/layouts-mixins'
 
.skills
    height: 77vh
    display: flex
    align-items: center
    background-color: variables.$bg-color
    color: variables.$primary-color
    @media screen AND (max-width: 480px)
        flex-direction: column
        text-align: center
        height: 150vh

    &_left
        flex: 1
        display: flex
        align-items: center
        justify-content: center
        position: relative

    &_right
        flex: 1

    &_img
        width: 70%
        height: 70%
        @include base-mixins.mobile
            width: 100%
            height: 100%

    &_container
        padding-right: 20px
        text-align: justify
        height: 100%
        @include base-mixins.mobile
            padding-right: 0px
            height: 50%
            
    &_title
        @include layouts-mixins.title

    &_desc
        @include layouts-mixins.desc
        padding-right: 20px
        @include base-mixins.mobile
            padding-right: 0px
            padding: 20px

    &_list
        @include layouts-mixins.list
        justify-content: unset
        font-size: 15px
        @include base-mixins.mobile
            font-size: 12px
            margin: 20px
            padding: 10px
            justify-content: space-around

        &_item
            margin-top: 20px
            margin-right: 20px
            padding: 10px
            border: 1px solid #fff
            @include base-mixins.mobile
                margin-right: 0
        
            &:hover
                background: #9E58AA
                color: #fff
                cursor: pointer
    
    &_selected_item
        margin-top: 20px
        @include base-mixins.mobile
            padding: 20px

    &_button_container
        display: flex
        flex-wrap: wrap
        list-style-type: none
        @include base-mixins.mobile
            margin: 20px
        
    &_button
        background: transparent
        color: #ccc
        border: 1px solid #ccc
        cursor: pointer

        &:hover
            background: #9E58AA
            color: #fff
            border: 1px solid #fff

        &:disabled
            background: #fff
            color: #000
            border: 1px solid #fff
            cursor: not-allowed
