.contact
    height: 100vh
    position: relative
    padding: 0px 50px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    @media screen AND (max-width: 480px)
        height: 100vh

    &_texts 
        padding-top: 50px
        width: 65%
        @media screen AND (max-width: 480px)
            width: 100%

    &_title 
        font-size: 50px
        font-weight: 600
        @media screen AND (max-width: 480px)
            font-size: 50px
            font-weight: 600

    &_desc 
        font-weight: 300
        @media screen AND (max-width: 480px)
            display: none

form 
    margin-top: 20px
    @media screen AND (max-width: 480px)
        margin-top: 0px
        display: flex
        flex-wrap: wrap

input 
    @media screen AND (max-width: 480px)
        width: 100%
        height: 40px
        margin-left: 0

button 
    width: 25%
    @media screen AND (max-width: 480px)
        width: 100%
        margin-top: 10px
    
::placeholder 
   color: #fff