@use '../1-base/base-mixins'
@use '../1-base/variables'
@use '../2-layouts/layouts-mixins'

/* criando animação */
@keyframes morph
    0%
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    50%
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    100%
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%

.home
    @include layouts-mixins.page(100vh, 92vh)

    &_left
        @include layouts-mixins.image-section
    
    &_right
        @include layouts-mixins.text-section

    &_right_wrapper
        @include layouts-mixins.wrapper

    &_img
        @include layouts-mixins.image

    &_bg 
        clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%, 0% 50%)
        @include layouts-mixins.bg

    &_title
        @include layouts-mixins.title
    
    &_desc
        @include layouts-mixins.desc
    
    &_list
        @include layouts-mixins.list
        justify-content: space-around
    
    &_list_item
        @include layouts-mixins.list_item

    &_list a
        color: #fff
        text-decoration: none
