@use '../1-base/base-mixins'
@use '../1-base/variables'
@use '../2-layouts/layouts-mixins'

.productList
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    height: 110vh
    padding: 50px
    background-color: variables.$bg-color
    color: variables.$primary-color
    @include base-mixins.mobile
        padding: 20px

    &_texts 
        width: 65%
        @include base-mixins.mobile
            width: 100%

    &_title
        font-size: 50px
        font-weight: 600

    &_desc
        margin: 20px 0px

    &_list
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
