.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14151d;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-side-menu {
    display: flex;
}

.nav-items {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.nav-links:hover {
    background-color: #2E3047;
    border-radius: 5px;
}

.fa-bars {
    color: #fff;
}

.nav-links-button {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-side-menu {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        position: absolute;
        margin-top: 0;
        top: 0;
        border: 2px solid #ececee;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
    }

    .nav-side-menu.start {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        color: #000;
        display: table;
        transition: 0s;
    }

    .nav-links:hover {
        background-color: #14151d;
        color: #fff;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-items {
        height: auto;
    }
}