@use '../1-base/base-mixins'
@use '../1-base/variables'

.dropdown-menu
    width: auto
    position: absolute
    top: 80px
    list-style: none
    text-align: start
    @include base-mixins.mobile
        position: relative
        top: 20px

    & li
        background: variables.$secondary-color
        cursor: pointer

    & li:hover 
        background: variables.$tertiary-color
        border: 1px solid variables.$primary-color

.drop-menu 
    display: none

.menu-items 
    display: grid
    text-decoration: none
    color: variables.$primary-color
    padding: 15px
