.navbar
    display: flex
    justify-content: center
    align-items: center
    background-color: #14151d
    color: #9E58AA
    position: sticky
    top: 0
    z-index: 999

.nav-side-menu
    display: flex
    touch-action: none
    @media screen AND (max-width: 1000px)
        display: flex
        flex-direction: column
        width: 250px
        height: 100vh
        position: absolute
        margin-top: 0
        top: 0
        left: -100%
        opacity: 1
        transition: all 0.5s ease
        justify-content: flex-start

.nav-side-menu.start
    @media screen AND (max-width: 1000px)
        background: #14151d
        left: -42px
        opacity: 1
        transition: all 0.5s ease


.nav-items
    display: flex
    align-items: center
    height: 80px
    @media screen AND (max-width: 1000px)
        height: auto

.nav-links
    color: white
    text-decoration: none
    padding: 8px 20px
    transition: all 0.3s ease-out
    @media screen AND (max-width: 1000px)
        text-align: center
        padding: 1.5rem
        width: 100%
        color: #fff
        display: table
        transition: 0s

.nav-links:hover
    background-color: #9E58AA
    border: 1px solid #fff
    @media screen AND (max-width: 1000px)
        background-color: #9E58AA
        color: #fff

.fa-bars
    color: #fff

.fa-times
    @media screen AND (max-width: 1000px)
        color: #fff
        font-size: 2rem

.menu-icon
    display: none
    @media screen AND (max-width: 1000px)
        display: block
        position: absolute
        top: 0
        right: 0
        transform: translate(-100%, 60%)
        font-size: 1.8rem
        cursor: pointer

    