* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    }
    
.dark {
    background-color: #3C3F58;
    color: #3BBA9C;
}

.light {
    background-color: #3BBA9C;
    color: #3C3F58;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #3C3F58;
    box-shadow: inset 0 0 5px grey;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3BBA9C; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3C3F58; 
  }