* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #14151d;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #14151d;
}

::placeholder {
  color: #fff;
}

input {
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: 1px solid #9E58AA;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  color: #fff;
}

textarea {
  background-color: transparent;
  border: 1px solid #9E58AA;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  color: #fff;
}

button {
  width: 25%;
  border: 1px solid #9E58AA;
  padding: 15px;
  background-color: #9E58AA;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 480px) {
  button {
    width: 50%;
  }
}

button:hover {
  border: 1px solid #fff;
}

.home {
  display: flex;
  height: 100vh;
  background-color: #14151d;
  color: #fff;
}
@media (max-width: 480px) {
  .home {
    flex-direction: column;
    height: 100vh;
  }
}
.home_left {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_right_wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 480px) {
  .home_right_wrapper {
    padding: 20px;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
.home_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 480px) {
  .home_img {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}
.home_title {
  font-size: 50px;
  font-weight: 600;
}
.home_desc {
  text-align: justify;
  margin: 20px 0px;
}
.home_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.home_list_item {
  margin: 1vh;
  padding: 1vh;
}
.home_list a {
  color: #fff;
  text-decoration: none;
}
.home_list a:hover {
  color: #9E58AA;
}

.about {
  display: flex;
  height: 100vh;
  background-color: #14151d;
  color: #fff;
}
@media (max-width: 480px) {
  .about {
    flex-direction: column;
    height: 120vh;
  }
}
.about_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_left_wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 480px) {
  .about_left_wrapper {
    padding: 20px;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
.about_right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 480px) {
  .about_img {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}
.about_title {
  font-size: 50px;
  font-weight: 600;
}
.about_desc {
  text-align: justify;
  margin: 20px 0px;
}

.productList {
  display: flex;
  height: 110vh;
  background-color: #14151d;
  color: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}
@media (max-width: 480px) {
  .productList {
    flex-direction: column;
    height: 100vh;
  }
}
@media (max-width: 480px) {
  .productList {
    padding: 20px;
  }
}
.productList_texts {
  width: 65%;
}
@media (max-width: 480px) {
  .productList_texts {
    width: 100%;
  }
}
.productList_title {
  font-size: 50px;
  font-weight: 600;
}
.productList_desc {
  text-align: justify;
  margin: 20px 0px;
}
.productList_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 480px) {
  .productList_list {
    overflow-y: scroll;
  }
}

.skills {
  display: flex;
  height: 77vh;
  background-color: #14151d;
  color: #fff;
  align-items: center;
}
@media (max-width: 480px) {
  .skills {
    flex-direction: column;
    height: 150vh;
  }
}
@media (max-width: 480px) {
  .skills {
    text-align: center;
  }
}
.skills_left {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_right {
  flex: 1;
}
.skills_img {
  width: 70%;
  height: 70%;
}
@media (max-width: 480px) {
  .skills_img {
    width: 100%;
    height: 100%;
  }
}
.skills_container {
  padding: 0 20px 0 0;
  text-align: justify;
  height: 100%;
}
@media (max-width: 480px) {
  .skills_container {
    padding: 0;
    height: 50%;
  }
}
.skills_title {
  font-size: 50px;
  font-weight: 600;
}
.skills_desc {
  text-align: justify;
  margin: 20px 0px;
  padding: 0 20px 0 0;
}
@media (max-width: 480px) {
  .skills_desc {
    padding: 20px;
  }
}
.skills_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  justify-content: unset;
  font-size: 15px;
}
@media (max-width: 480px) {
  .skills_list {
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    justify-content: space-around;
  }
}
.skills_list_item {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #9E58AA;
}
@media (max-width: 480px) {
  .skills_list_item {
    margin-right: 0;
  }
}
.skills_list_item:hover {
  border: 1px solid #fff;
  background: #9E58AA;
  color: #fff;
  cursor: pointer;
}
.skills_selected_item {
  margin-top: 20px;
}
@media (max-width: 480px) {
  .skills_selected_item {
    padding: 20px;
  }
}
.skills_button_container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
@media (max-width: 480px) {
  .skills_button_container {
    margin: 20px;
  }
}
.skills_button {
  background: transparent;
  color: #fff;
  border: 1px solid #9E58AA;
  cursor: pointer;
}
.skills_button:hover {
  background: #9E58AA;
  color: #fff;
  border: 1px solid #fff;
}
.skills_button:disabled {
  background: #9E58AA;
  color: #fff;
  border: 1px solid #fff;
  cursor: not-allowed;
}

.timeline {
  display: flex;
  height: 130vh;
  background-color: #14151d;
  color: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}
@media (max-width: 480px) {
  .timeline {
    flex-direction: column;
    height: 120vh;
  }
}
@media (max-width: 480px) {
  .timeline {
    padding: 20px;
  }
}
.timeline_texts {
  width: 65%;
}
@media (max-width: 480px) {
  .timeline_texts {
    width: 100%;
  }
}
.timeline_title {
  font-size: 50px;
  font-weight: 600;
}
.timeline_desc {
  text-align: justify;
  margin: 20px 0px;
}

.contact {
  display: flex;
  height: 120vh;
  background-color: #14151d;
  color: #fff;
}
@media (max-width: 480px) {
  .contact {
    flex-direction: column;
    height: 150vh;
  }
}
.contact_right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_left_wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 480px) {
  .contact_left_wrapper {
    padding: 20px;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
.contact_title {
  font-size: 50px;
  font-weight: 600;
}
.contact_desc {
  text-align: justify;
  margin: 20px 0px;
}
.contact_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 480px) {
  .contact_img {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  form {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  button {
    margin: 0 auto;
  }
}

.alert {
  position: relative;
  padding: 15px;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  height: auto;
  width: 100%;
}

.error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

.hide {
  display: none;
}

.card {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid #9E58AA;
  overflow: hidden;
  background-color: transparent;
  perspective: 1000px;
}
@media (max-width: 480px) {
  .card {
    width: 100%;
    height: 25vh;
  }
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card_inner {
  transform: rotateY(180deg);
}

.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_back {
  transform: rotateY(180deg);
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  background-color: #9E58AA;
  color: #fff;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #9E58AA;
  border-top: 10px solid #fff;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.dropdown-menu {
  width: auto;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}
@media (max-width: 480px) {
  .dropdown-menu {
    position: relative;
    top: 20px;
  }
}
.dropdown-menu li {
  background: #14151d;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: #9E58AA;
  border: 1px solid #fff;
}

.drop-menu {
  display: none;
}

.menu-items {
  display: grid;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14151d;
  color: #9E58AA;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-side-menu {
  display: flex;
  touch-action: none;
}
@media (max-width: 480px) {
  .nav-side-menu {
    flex-direction: column;
    width: 250px;
    height: 100vh;
    position: absolute;
    margin-top: 0;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .nav-side-menu.start {
    background: #14151d;
    left: -42px;
    opacity: 1;
    transition: all 0.5s ease;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  height: 80px;
}
@media (max-width: 480px) {
  .nav-items {
    height: auto;
  }
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}
@media (max-width: 480px) {
  .nav-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    color: #fff;
    display: table;
    transition: 0s;
  }
}

.nav-links:hover {
  background-color: #9E58AA;
  border: 1px solid #fff;
}
@media screen and (max-width: 1000px) {
  .nav-links:hover {
    background-color: #9E58AA;
    color: #fff;
  }
}

.fa-bars {
  color: #fff;
}

@media (max-width: 480px) {
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 480px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/*# sourceMappingURL=App.css.map */
