.b {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.b-content {
    padding: 50px 100px;
    display: flex;
    align-items:flex-start;
    text-align: center;
}

.b-item {
    padding: 10px;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.b-item-title {
    font-weight: 400;
}

.b-title {
    font-size: 50px;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .b {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .b-title {
        font-size: 50px;
        font-weight: 600;
    }

    .b-content {
        width: 100%;
        display: block;
    }

    .b-item {
        padding: 10px;
    }
}